[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn main:app --reload --host 0.0.0.0 --port 8000 --proxy-headers"

[packages]
openai = "*"
python-dotenv = "*"
fastapi = "*"
pydantic = "*"
firebase-admin = "*"
email-validator = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
